@using FootballLeague.Models
@model MatchViewModel

@{
    ViewData["Title"] = "Create match";
}

<h4>Create match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="HomeTeamId" class="control-label"></label>
                @Html.DropDownListFor(x=>x.HomeTeamId,
                @Model.Teams,
                "Select team",
                new { @class = "form-control" })
                <span asp-validation-for="HomeTeamId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AwayTeamId" class="control-label"></label>
                @Html.DropDownListFor(x=>x.AwayTeamId,
                @Model.Teams,
                "Select team",
                new { @class = "form-control" })
                <span asp-validation-for="AwayTeamId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HomeTeamGoals" class="control-label"></label>
                <input asp-for="HomeTeamGoals" class="form-control" />
                <span asp-validation-for="HomeTeamGoals" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AwayTeamGoals" class="control-label"></label>
                <input asp-for="AwayTeamGoals" class="form-control" />
                <span asp-validation-for="AwayTeamGoals" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
